@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.inverted-image {
  filter:invert(1)
}

.nav-link {
  font-weight: 600;
  /* text-transform: uppercase; */
  margin: 0 8px;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 6px;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused, .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  background-color: rgba(33, 33, 33, 0.033)
}

.chat-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 12px 16px;
  /* background-color: red; */
  gap: 12px;
  /* border-radius: 2px; */
  margin:  1px 0;
}

.chat-item.assistant{
  background-color: #64117D;
}

.chat-item.user{
  background-color: #22443dff;
}

.chat-item.assistant img{
  width: 28px;
}

.avatar-assistant {
  width: 28px;
  background-color: white;
}

.avatar-user {
  background-color: purple;
}
