@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.inverted-image {
  filter:invert(1)
}

.nav-link {
  font-weight: 600;
  /* text-transform: uppercase; */
  margin: 0 8px;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 6px;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused, .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  background-color: rgba(33, 33, 33, 0.033)
}
